<launch>
    <arg name="team_name"  default="spicedrones"/>
    <arg name="drone_count"  default="6"/>
    <node pkg="dg_solutions" name="solver" type="node.py" output="screen">
        <param name="league" value="formation" />
        <param name="count" value="$(arg drone_count)" />
    </node>
</launch>
